@{
    ViewBag.Title = "Tags";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    Session["Page"] = "Tags";
}
@using AskCode.Models
<body>
    <div class="ch-container">
        <div class="row">

            <div id="content" class="col-lg-10 col-sm-10">
                <!-- content starts -->
                <div>
                    <ul class="breadcrumb">
                        <li>
                            <a href="/Admin/Index">Home</a>
                        </li>
                        <li>
                            <a href="/Admin/Tags">Tags</a>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="box col-md-12">
                        <div class="box-inner">
                            <div class="box-header well" data-original-title="">
                                <h2><i class="glyphicon glyphicon-user"></i>Tags</h2>

                            </div>
                            <div class="box-content">
                                <table class="table table-striped table-bordered bootstrap-datatable datatable responsive">
                                    <thead>
                                        <tr>                                            
                                            <th>Category</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>


                                        @{
                                            askCodeDataEntities4 cx = new askCodeDataEntities4();
                                         
                                            foreach (Tag u in Model)
                                            {
                                               
                                                    <tr>

                                                        <td>@u.TagName</td>
                                                      
                                                        <td class="center">


                                                            <a class="btn btn-danger" onclick="Delete('@u.TagId');">
                                                                <i class="glyphicon glyphicon-trash icon-white"></i>
                                                                Delete
                                                            </a>
                                                        </td>
                                                    </tr>
                                                

                                            }
                                        }

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                </div><!--/row-->
                <!-- content ends -->
            </div><!--/#content.col-md-0-->
        </div><!--/fluid-row-->

    </div><!--/.fluid-container-->
    <script>
       function Delete(id)
       {


           swal({
               title: "Are you sure?",
               text: "Your will not be able to recover this imaginary file!",
               type: "warning",
               showCancelButton: true,
               confirmButtonClass: "btn-danger",
               confirmButtonText: "Yes, delete it!",
               closeOnConfirm: false
           },
function () {
    window.location.assign("/Admin/DeleteTag?id="+id);

});
       }
    </script>
</body>




